{% extends "backoffice/baseback.html.twig" %}

{% block body %}
    <h2 class="mb-4">Ajouter une formation</h2>

        <form method="post" action="{{ path('formationsbackoffice.add') }}" class="form-grid">
            {{ form_start(form) }}
            <label for="title" style="grid-column: 1;">Titre :</label>
            {{ form_widget(form.title, {'attr': {'class': 'form-control form-control-lg', 'style': 'grid-column: 2;'}, 'label_attr': {'style': 'grid-column: 1;'}}) }}<br>
            <label for="description" style="grid-column: 1;">Description :</label>
            {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-lg', 'style': 'grid-column: 2;'}, 'label_attr': {'style': 'grid-column: 1;'}}) }}<br>
            <label for="videoid" style="grid-column: 1;">ID de la vidéo YouTube :</label>
            {{ form_widget(form.videoId, {'attr': {'class': 'form-control form-control-lg', 'type': 'url', 'style': 'grid-column: 2;'}, 'label_attr': {'style': 'grid-column: 1;'}}) }}<br>
            {{ form_label(form.publishedatstring, 'Publié le :', {'label_attr': {'style': 'grid-column: 1;'}}) }}
            {{ form_widget(form.publishedatstring, {'attr': {'class': 'form-control form-control-lg', 'style': 'grid-column: 2;', 'type': 'date', max : 'now'|date('Y-m-d') }}) }}
            {{ form_errors(form.publishedatstring) }}
            <div style="text-align: center;">
                <br><br>
                <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
            </div>
                    {{ form_end(form) }}
        </form>

{% endblock %}

