{% extends "backoffice/baseback.html.twig" %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <div> 
            <h2 align="center">Modifier la formation</h2>
            <h4 class="text-info mt-5">  
                <form method="post" action="{{ path('formationsbackoffice.edit', {id:formation.id}) }}" class="form-grid">
                    {{ form_start(form) }}
                        {{ form_row(form.title, {'attr': {'value': formation.title , 'class': 'form-control form-control-lg'}}) }}<br>
                        {{ form_row(form.description, {'attr': {'value': formation.description , 'class': 'form-control form-control-lg'}}) }}<br>
                        {{ form_row(form.videoId, {'attr': {'value': formation.videoId , 'class': 'form-control form-control-lg'}}) }}<br>
                        {{ form_row(form.publishedatstring, {'attr': {'value': formation.publishedatstring, 'class': 'form-control form-control-lg'}}) }} <br>                        
                        <label for="categories">Catégories :</label>
                        <div class="form-select form-select-lg form-control">
                            {% for categorie in form.categories %}
                                {{ form_row(categorie, {'label': categorie.vars.label, 'attr': {'class': 'form-check-input'}}) }}
                            {% endfor %}
                        </div><br>
                        {{ form_row(form.playlist, {'attr': {'value': formation.playlist.name, 'class': 'form-control form-control-lg'},'id': 'recherche','onchange': 'this.form.submit()'}) }}
                        {{ form_widget(form)}}
                         <div style="text-align: center;">
                            <br>
                            <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
                        </div>
                    {{ form_end(form) }}
                </form>
            </h4>        
        </div>
{% endblock %}
